[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
zappa = "*"
"boto3" = "*"
flask = "*"
pywaves = "*"
telepot = "*"
requests = "*"
dynamodb-encryption-sdk = "*"
slugify = "*"

[dev-packages]
"flake8" = "*"
autoflake = "*"
"autopep8" = "*"
pip = "*"

[requires]
python_version = "3.6"
